<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scalye=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<app-header></app-header>
<div class="flex p-5 bg-amber-400" >
  <img src="/assets/img/ImagenRegisterCamaraComercio.png"alt="Imagen Inicio" class="mx-auto absolute">
  <div class="bg-[#FFFF] w-3/5 pl-40">
    <div  class="">
      <div class="max-w-md relative flex flex-col p-4 rounded-md text-black bg-white">
        <div class="text-2xl font-bold mb-2 text-[#0A2FB6] text-center">Register</div>
        <div class="text-sm font-normal mb-4 justify-center text-[#1e0e4b]">Registrese chuchiriquiya</div>
        <form class="flex flex-col gap-3">
          <div class="block relative">
            <label for="email" class="block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2">Correo Electronico</label>
            <input type="text" id="email" class="rounded border border-gray-200 text-sm w-full font-normal leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2  ring-gray-900 outline-0">

          </div>
          <div class="block relative">
            <label for="nombreUsuario" class="block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2">Nombre de Usuario</label>
            <input type="text" id="nombreUsuario" class="rounded border border-gray-200 text-sm w-full font-normal leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2  ring-gray-900 outline-0">

          </div>
          <div class="block relative">
            <label for="password" class="block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2">Contraseña</label>
            <input type="text" id="password" class="rounded border border-gray-200 text-sm w-full font-normal leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2 ring-gray-900 outline-0">

          </div>
          <div>
            <a class="text-sm text-[#0A2FB6]" href="#">Olvido su contraseña?
            </a></div>
          <button type="submit" class="bg-[#0A2FB6] w-max m-auto px-6 py-2 rounded text-white text-sm font-normal">Registrarse</button>

        </form>
        <div class="text-sm text-center mt-[1.6rem]">Ya tiene una cuenta? <a class="text-sm text-[#0A2FB6]" href="#">Inicie Sesion!</a></div>
      </div>
    </div>
  </div>

  <div class="bg-[#22417F] w-2/5">Contenido del segundo div</div>

</div>
</body>
</html>
