<app-header></app-header>

<body class="bg-gray-200 font-inter">
  <div class="container mx-auto px-4">
    <div class="flex flex-col lg:flex-row mt-6 gap-4">
      <!-- Contenido del curso -->
      <main class="bg-white p-6 shadow-md w-full lg:w-3/4">
        <h1 class="text-3xl font-bold mb-4">Introducción a la unidad 1</h1>
        <p class="text-gray-700 mb-4 ">¿Sabías que Python facilita la creación y el uso de "módulos" o bibliotecas que puedes compartir con otros programadores? ¿Te gustaría aprender más de ello?</p>

        <button class="btn btn-primary mt-4">Siguiente clase</button>
      </main>

      <aside class="w-full lg:w-1/4">
        <div class="bg-white p-4 shadow-md">
          <aside class="w-full ">
            <div class="bg-white shadow-md">
              <h2 class="text-lg font-semibold mb-4">Contenido</h2>
              <div class="flow-root">
                <ul class="space-y-2">
                  <li>
                    <a href="#" class="flex items-center p-2 rounded-lg hover:bg-gray-100">
                      <span class="text-blue-500">
                        <i class="fas fa-check-circle"></i>
                      </span>
                      <span class="ml-3 flex-1 ">Introducción al curso de programación avanzada</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="flex items-center p-2 rounded-lg bg-blue-100">
                      <span class="text-blue-500">
                        <i class="fas fa-play-circle"></i>
                      </span>
                      <span class="ml-3 flex-1 whitespace-nowrap">Introducción a la unidad 1</span>
                    </a>
                  </li>
                  <!-- Repite los elementos para cada paso o sección del curso -->
                  <!-- ... otros pasos ... -->
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </aside>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/flowbite/dist/flowbite.min.js"></script>
</body>

<app-footer></app-footer>
