<app-header></app-header>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-4 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      <div class="sm:w-1/3 mb-10 px-4 p-3" *ngFor="let curso of cursos">
        <div class="max-w-md mx-auto mt-20">
          <img alt="content" class="rounded-lg h-64 overflow-hidden object-cover object-center w-full" [src]="curso.imagen">
          <h2 class="py-2 font-bold text-xl">{{curso.titulo}}</h2>
          <p class="leading-relaxed text-justify" [innerHTML]="truncateDescription(curso.contenido, 16, curso.showMore)"></p>

          <!-- Agregar la condición para ocultar el botón "Ver más" -->
          <button *ngIf="curso.contenido.split(' ').length > 16" class="mb-4 text-blue-500 focus:outline-none" (click)="toggleDescription(curso)">
            {{ curso.showMore ? 'Ver menos' : 'Ver más' }}
          </button>

          <button class=" flex mx-auto mt-6 text-white bg-[#1fa5d3] border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded"
                [routerLink]="['/cursos/aprenderContabilidad/contenido-curso', curso.id]">Button</button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
