<app-header></app-header>
<div class="flex flex-row p-6 space-x-4 text-2xl font-bold text-[#00327B]">
  <a href="url_de_la_pagina_1" class="rounded-3xl border border-solid border-2 w-2/6 flex flex-col justify-center items-center ">
    <img src="assets/img/ImagenInicioCurso1.png" alt="Conceptos Básicos " >
    Conceptos Básicos
  </a>
  <a href="url_de_la_pagina_2" class="rounded-3xl border border-solid border-2 w-2/6 flex flex-col justify-center items-center ">
    <img src="assets/img/ImagenInicioCurso2.png" alt="Inversion de Negocios">
    Inversion de Negocios
  </a>
  <a href="url_de_la_pagina_3" class="rounded-3xl border border-solid border-2 w-2/6 flex flex-col justify-center items-center ">
    <img src="assets/img/ImagenInicioCurso3.png" alt="Toma de Desicion">
    Toma de Desicion
  </a>
</div>


<footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
    </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
    <li>
      <a href="#" class="hover:underline me-4 md:me-6">About</a>
    </li>
    <li>
      <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
    </li>
    <li>
      <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Contact</a>
    </li>
  </ul>
</footer>

