<app-header></app-header>
<div class="relative bg-gray-900">
  <div class="absolute inset-x-0 bottom-0">
    <svg viewBox="0 0 224 12" fill="currentColor" class="w-full -mb-1 text-white" preserveAspectRatio="none">
      <path d="M0,0 C48.8902582,6.27314026 86.2235915,9.40971039 112,9.40971039 C137.776408,9.40971039 175.109742,6.27314026 224,0 L224,12.0441132 L0,12.0441132 L0,0 Z"></path>
    </svg>
  </div>
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="relative max-w-2xl sm:mx-auto sm:max-w-xl md:max-w-2xl sm:text-center">
      <h2 class="mb-6 font-sans text-3xl font-bold tracking-tight text-white sm:text-4xl sm:leading-none">
        Contabilidad para Todos:<br class="hidden md:block" />

        <span class="relative inline-block">
          Aprende y Domina el Arte de las Finanzas
          <div class="w-full h-3 -mt-3 bg-deep-purple-accent-400"></div>
        </span>
      </h2>
      <p class="mb-6 text-base font-thin tracking-wide text-gray-300 md:text-lg">
        Descubre el poder de la contabilidad, el lenguaje esencial de los negocios y una herramienta clave en finanzas, para tomar decisiones sólidas y gestionar tus finanzas personales y profesionales, abriendo caminos hacia el éxito.
      </p>

        <button
        routerLink="/herramienta/datos/registro"
        class="continue-application flex flex-col items-center w-full mb-4 md:flex-row md:px-16">
          <div>
              <div class="pencil"></div>
              <div class="folder">
                  <div class="top">
                      <svg viewBox="0 0 24 27">
                          <path d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"></path>
                      </svg>
                  </div>
                  <div class="paper"></div>
              </div>
          </div>
          Ingresar datos a la herramienta
      </button>

      <p class="max-w-md mb-10 text-xs font-thin tracking-wide text-gray-500 sm:text-sm sm:mx-auto md:mb-16">
        ¡Te damos la bienvenida a nuestra plataforma educativa de contabilidad!
      </p>
      <a
      (click)="scrollTo('cursos')"

        aria-label="Scroll down"
        class="flex items-center justify-center w-10 h-10 mx-auto text-white duration-300 transform border border-gray-400 rounded-full hover:text-teal-accent-400 hover:border-teal-accent-400 hover:shadow hover:scale-110"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="currentColor">
          <path d="M10.293,3.293,6,7.586,1.707,3.293A1,1,0,0,0,.293,4.707l5,5a1,1,0,0,0,1.414,0l5-5a1,1,0,1,0-1.414-1.414Z"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="flex flex-col p-6 lg:p-10 mb-28">
  <!-- Imagen al margen inferior derecho -->
  <img src="assets/img/caracterInicioCurso.png" alt="Descripción de la imagen" class="bounce-in-top w-full md:w-[50%] mx-auto lg:w-1/3 mb-4 mr-4 lg:absolute lg:bottom-14 lg:right-5">
</div>


<section class="text-gray-600 body-font"  id="cursos">
  <div class="container px-5 py-4 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      <div class="sm:w-1/3 mb-10 px-4 p-3" *ngFor="let curso of cursos">
        <div class="max-w-md mx-auto mt-20">
          <img alt="content" class="transition duration-300 ease-in-out hover:scale-110 rounded-lg h-64 overflow-hidden object-cover object-center w-full" [src]="curso.imagen">
          <h2 class="py-4 font-bold text-xl">{{curso.titulo}}</h2>
          <p class="leading-relaxed text-justify" [innerHTML]="truncateDescription(curso.contenido, 16, curso.showMore)"></p>

          <!-- Agregar la condición para ocultar el botón "Ver más" -->
          <button *ngIf="curso.contenido.split(' ').length > 16" class="mb-4 text-blue-500 focus:outline-none" (click)="toggleDescription(curso)">
            {{ curso.showMore ? 'Ver menos' : 'Ver más' }}
          </button>

          <button class=" flex mx-auto mt-6 text-white bg-[#1fa5d3] border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded"
                [routerLink]="['/cursos/aprenderContabilidad/contenido-curso', curso.id]">Button</button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
