<app-header></app-header>
<app-tabbar></app-tabbar>


<div class="md:flex">
  <ul class="flex-column space-y space-y-4 w-60 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
    <li>
      <a [routerLink]="['/herramienta/datos/registrar']"
         routerLinkActive="text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500"
         class="inline-flex items-center justify-center p-4 border-transparent rounded-t-lg group">
        Registrar el Estado Negocio
      </a>

      <a [routerLink]="['/herramienta/datos/inventario']"
         routerLinkActive="text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500"
         class="inline-flex items-center justify-center p-4 border-transparent rounded-t-lg group">
        Registar el Inventario de tu Negocio
      </a>
    </li>
  </ul>
  <div class="p-6  bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">

    <section class="bg-white">
      <header class="bg-white shadow ">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold text-gray-900">Estado del negocio</h1>
        </div>
      </header>
      <form [formGroup]="miFormulario" class="container mx-auto px-4  border-4 border-dashed border-gray-200 rounded-lg mt-6">
        <div class="py-8 px-4 mx-auto max-w-4xl lg:py-16 ">
          <h3 class="mb-4 text-xl font-bold text-gray-900">Ingresos</h3>


          <!-- Date Picker -->
          <div class="mb-6 w-full md:w-1/3 pl-12">
            <div class="max-w-md mx-auto p-6 rounded-md ml-[-2rem] ">
              <label for="visitors" class="block mb-6 text-sm font-medium text-gray-900 dark:text-white ">Fecha </label>
              <div class="relative mb-3 flex items-center justify-center" >
                <input type="text" id="date-picker" formControlName="fecha" placeholder="Seleccione una fecha"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
          </div>


          <!-- Ingreso del Negocio & Contador & Ingreso Total -->
          <div class="flex flex-wrap justify-between">
            <div class=" w-full md:w-1/3 px-4">
              <div class="p-6 ">
                <div class="flex items-center mb-1">
                  <label for="ingresoNegocio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingreso del Negocio</label>
                  <svg data-popover-target="chart-info1" data-popover-placement="bottom" class="pb-2 w-3.5 h-4.7 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
                  </svg>
                  <!-- popover pie -->
                  <div data-popover id="chart-info1" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                    <div class="p-3 space-y-2">
                      <h3 class="font-semibold text-gray-900 dark:text-white">Ingreso del Negocio</h3>
                      <p>
                        Registre aquí la totalidad de los ingresos generados por su negocio durante el mes. Incluya todas las ventas, servicios y otras fuentes de ingreso para obtener un total mensual.                      </p>
                      <a href="/cursos/aprenderContabilidad" class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Aprender más <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                      </svg></a>
                    </div>
                    <div data-popper-arrow></div>
                  </div>
                </div>
                <input type="number" id="ingresoNegocio" formControlName="ingresoNegocio"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Ingrese un valor" (keyup.enter)="onEnter('ingresoNegocio')" required>
              </div>
            </div>

            <div class="mb-6 flex w-full md:w-1/6 justify-center">
              <div class="text-center pt-6">
                <div lass="text-sm text-gray-500 mr-4">{{ contadorIngresoNegocio }}</div>
                <div class="mt-1 text-xs font-medium text-gray-900">Ingresos Registrados</div>
              </div>
            </div>

            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6 ">
                <label for="inputDeshabilitado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingreso Total</label>
                <input type="text" id="inputDeshabilitado" formControlName="inputDeshabilitado" [attr.disabled]="true"
                       [value]="contadorIngresoNegocio"
                       class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
          </div>

          <!-- Gastos Section -->
          <h2 class="mb-4 text-xl font-bold text-gray-900">Gastos</h2>

          <!-- Gastos de Mantenimiento & Contador & Total Gasto Mantenimiento -->
          <div class="flex flex-wrap justify-between">
            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6 ">
                <div class="flex items-center mb-1">
                  <label for="gastoMantenimiento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gastos de Mantenimiento</label>
                  <svg data-popover-target="chart-info2" data-popover-placement="bottom" class="pb-2 w-3.5 h-4.7 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
                  </svg>
                  <!-- popover pie -->
                  <div data-popover id="chart-info2" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                    <div class="p-3 space-y-2">
                      <h3 class="font-semibold text-gray-900 dark:text-white">Gastos de Mantenimiento</h3>
                      <p>
                        Use este campo para registrar los gastos recurrentes asociados con el mantenimiento y operación del negocio, como alquiler, servicios públicos, y mantenimiento de equipos.                      </p>
                      <a href="/cursos/aprenderContabilidad" class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Aprender más <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                      </svg></a>
                    </div>
                    <div data-popper-arrow></div>
                  </div>
                </div>
                <input type="number" id="gastoMantenimiento" formControlName="gastoMantenimiento"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Ingrese un valor" (keyup.enter)="onEnter('gastoMantenimiento')" required>
              </div>
            </div>

            <div class="mb-6 flex w-full md:w-1/6 justify-center">
              <div class="text-center pt-6">
                <div class="text-sm text-gray-500 mr-4">{{ contadorGastoMantenimiento }}</div>
                <div class="mt-1 text-xs font-medium text-gray-900">Gastos Registrados</div>
              </div>
            </div>

            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6 ">
                <label for="inputDeshabilitado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total Gasto Mantenimiento</label>
                <input type="text" id="inputDeshabilitado" formControlName="inputDeshabilitado" [attr.disabled]="true"
                       [value]="contadorGastoMantenimiento"
                       class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
          </div>
          <!-- Gasto Adicional -->
          <div class="flex flex-wrap justify-between">
            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6">
                <div class="flex items-center mb-1">
                  <label for="gastoMantenimiento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gasto Adicional</label>
                  <svg data-popover-target="chart-info3" data-popover-placement="bottom" class="pb-2 w-3.5 h-4.7 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
                  </svg>
                  <!-- popover pie -->
                  <div data-popover id="chart-info3" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                    <div class="p-3 space-y-2">
                      <h3 class="font-semibold text-gray-900 dark:text-white">Gasto Adicional</h3>
                      <p>
                        Todos los gastos no planeados o inusuales se registran aquí. Esto podría incluir reparaciones de emergencia, compras no programadas o gastos legales inesperados.                      </p>
                      <a href="/cursos/aprenderContabilidad" class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Aprender más <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                      </svg></a>
                    </div>
                    <div data-popper-arrow></div>
                  </div>
                </div>
                <input type="number" id="gastosMarketing" formControlName="gastosMarketing"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Ingrese un valor" (keyup.enter)="onEnter('gastosMarketing')" required>
              </div>
            </div>

            <div class="mb-6 flex w-full md:w-1/6 justify-center">
              <div class="text-center pt-6">
                <div class="text-sm text-gray-500 mr-4">{{ contadorGastosMarketing  }}</div>
                <div class="mt-1 text-xs font-medium text-gray-900">Gastos Registrados</div>
              </div>
            </div>

            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6 ">
                <label for="inputDeshabilitado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total Gasto Adicional</label>
                <input type="text" id="inputDeshabilitado" formControlName="inputDeshabilitado" [attr.disabled]="true"
                       [value]="contadorGastosMarketing"
                       class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
          </div>
          <!-- Gastos Salarios -->
          <div class="flex flex-wrap justify-between">
            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6 ">

                <div class="flex items-center mb-1">
                  <label for="gastoMantenimiento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gastos Salarios</label>
                  <svg data-popover-target="chart-info4" data-popover-placement="bottom" class="pb-2 w-3.5 h-4.7 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
                  </svg>
                  <!-- popover pie -->
                  <div data-popover id="chart-info4" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                    <div class="p-3 space-y-2">
                      <h3 class="font-semibold text-gray-900 dark:text-white">Gastos Salarios</h3>
                      <p>
                        La suma total de los salarios pagados a los empleados durante el mes se debe ingresar en este campo, incluyendo sueldos, comisiones y bonos.                      </p>
                      <a href="/cursos/aprenderContabilidad" class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Aprender más <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                      </svg></a>
                    </div>
                    <div data-popper-arrow></div>
                  </div>
                </div>
                <input type="number" id="gastoSalario" formControlName="gastoSalario"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Ingrese un valor" (keyup.enter)="onEnter('gastoSalario')" required>
              </div>
            </div>

            <div class="mb-6 flex w-full md:w-1/6 justify-center">
              <div class="text-center pt-6">
                <div class="text-sm text-gray-500 mr-4">{{ contadorGastoSalario  }}</div>
                <div class="mt-1 text-xs font-medium text-gray-900">Gastos Registrados</div>
              </div>
            </div>

            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6 ">
                <label for="inputDeshabilitado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total Gasto Salarios</label>
                <input type="text" id="inputDeshabilitado" formControlName="inputDeshabilitado" [attr.disabled]="true"
                       [value]="contadorGastoSalario"
                       class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
          </div>
          <!-- Gastos Servicios Publicos -->
          <div class="flex flex-wrap justify-between">
            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6 ">
                <div class="flex items-center  ">
                  <label for="gastoMantenimiento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gastos Servicios Públicos</label>
                  <svg data-popover-target="chart-info5" data-popover-placement="bottom" class="pb-2 w-3.5 h-4.7 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
                  </svg>
                  <!-- popover pie -->
                  <div data-popover id="chart-info5" role="tooltip" class=" absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                    <div class="p-3 space-y-2">
                      <h3 class="font-semibold text-gray-900 dark:text-white">Gastos Servicios Públicos</h3>
                      <p>
                        Registre el total mensual pagado por servicios públicos como electricidad, agua, internet y teléfono para el funcionamiento de su negocio.                      </p>
                      <a href="/cursos/aprenderContabilidad" class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Aprender más <svg class="]w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                      </svg></a>
                    </div>
                    <div data-popper-arrow></div>
                  </div>
                </div>
                <input input type="number" id="gastosServicios" formControlName="gastosServicios"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Ingrese un valor" (keyup.enter)="onEnter('gastosServicios')" required>
              </div>
            </div>

            <div class="mb-6 flex w-full md:w-1/6 justify-center">
              <div class="text-center pt-6">
                <div class="text-sm text-gray-500 mr-4">{{ contadorGastosServicios   }}</div>
                <div class="mt-1 text-xs font-medium text-gray-900">Gastos Registrados</div>
              </div>
            </div>

            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6 ">
                <label for="inputDeshabilitado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total Gastos Servicios Públicos</label>
                <input type="text" id="inputDeshabilitado" formControlName="inputDeshabilitado" [attr.disabled]="true"
                       [value]="contadorGastosServicios "
                       class="bg-gray-50 border-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
          </div>

          <!-- Actualizar Button -->
          <div class="flex justify-center py-8">
            <button type="submit" (click)="VisualizarDatos()" class="h-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Actualizar
            </button>
          </div>

          <!-- Totales Section -->
          <div class="flex flex-wrap justify-between">
            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6 bg-white rounded-md shadow-md">
                <label for="visitors" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingresos</label>

                <input input type="number" id="ingresosTotal" formControlName="ingresosTotal"
                       class="form-input mt-1 block w-full"
                       placeholder="Valor Automático" readonly
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >

              </div>
            </div>
            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6 bg-white rounded-md shadow-md">
                <label for="visitors" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gastos</label>
                <input input type="number" id="gastosTotal" formControlName="gastosTotal"
                       class="form-input mt-1 block w-full"
                       placeholder="Valor Automático" readonly
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
              </div>
            </div>
            <div class="mb-6 w-full md:w-1/3 px-4">
              <div class="p-6 bg-white rounded-md shadow-md">
                <label for="visitors" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Beneficios</label>
                <input type="number" id="beneficiosTotal" formControlName="beneficiosTotal"
                       class="form-input mt-1 block w-full"
                       placeholder="Valor Automático" readonly
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
              </div>
            </div>


          </div>
          <div class="flex justify-center py-8">
            <button button type="button" (click)="enviarDatos(miFormulario.value)"
                    routerLink="/herramienta/resultados"
                    class="h-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Visualizar Resultados
            </button>
          </div>
        </div>
      </form>
      <script>
        // Your JavaScript or Angular logic goes here
      </script>
    </section>

  </div>
</div>
<app-footer></app-footer>
