<app-header></app-header>
<div class="flex flex-col p-10">
  <!-- Primer cuadrado arriba -->
  <div class=" w-[69%] p-6 mb-6">
    <p class="text-6xl text-[#12172e] font-bold pb-9"> APRENDE SOBRE CONTABILIDAD</p>
    <p class="text-2xl text-[#6b7280] text-justify">La contabilidad es el lenguaje de los negocios y una habilidad fundamental en el mundo financiero. Comprender los conceptos contables te permitirá tomar decisiones financieras sólidas, administrar tus finanzas personales y profesionales, y abrir nuevas oportunidades en tu carrera.</p>
    <ul class="list-disc text-[#6b7280] text-xl p-9">
      <li>Crear y entender estados financieros.</li>
      <li>Dominar los principios contables clave.</li>
      <li>Analizar datos financieros para tomar decisiones informadas.</li>
    </ul>
  </div>
  <!-- Imagen al margen inferior derecho -->
  <img src="assets/img/caracterInicioCurso.png" alt="Descripción de la imagen" class="bounce-in-top absolute bottom-14 right-5 mb-4 mr-4 w-1/3 ">

  <div class="flex items-center mx-auto pt-16">
    <a href="/aprenderContabilidad" class="cursor-pointer transition-all bg-[#1fa5d3] text-white px-6 py-2 rounded-lg border-[#0a6ca3] border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px] justify-center mt-auto">
      APRENDER AHORA!!
    </a>
</div>
</div>

