<app-header></app-header>
<app-tabbar></app-tabbar>
<div class="md:flex">
    <ul class="flex-column space-y space-y-4 w-60 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
        <li>
          <a [routerLink]="['/herramienta/datos/registrar']"
          routerLinkActive="text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500"
          class="inline-flex items-center justify-center p-4 border-transparent rounded-t-lg group">
           Registrar el Estado Negocio
       </a>
  
       <a [routerLink]="['/herramienta/datos/estado']"
          routerLinkActive="text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500"
          class="inline-flex items-center justify-center p-4 border-transparent rounded-t-lg group">
           Administrar el Estado Negocio
       </a>
        </li>
    </ul>
    <div class="p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">
  

<body class="bg-gray-100">
    <div class="min-h-screen bg-gray-50">

        <header class="bg-white shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold text-gray-900">
                    Registro de Datos
                </h1>
            </div>
        </header>

        <main>
            <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                <!-- Replace with your content -->
                <div class="px-4 py-6 sm:px-0">
                    <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">
                        <!-- Content goes here -->
                        <!-- Table -->
                        <div class="flex flex-col">
                            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                        <table class="min-w-full divide-y divide-gray-200">
                                            <thead class="bg-gray-50">
                                                <tr>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        ID
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Gasto/Ingreso
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Tipo
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Paid Date
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Cantidad
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white divide-y divide-gray-200">
                                                <!-- More rows... -->
                                                <tr>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">#INV-0001</td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Ingreso</td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Ingresos por Ventas</td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">8 Feb 2022</td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">$500</td>
                                                </tr>
                                                <!-- Repeat for each row -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Table -->
                        <!-- Form -->
                        <div class="mt-10 sm:mt-0">
                            <div class="md:grid md:grid-cols-3 md:gap-6">
                                <div class="mt-5 md:mt-0 md:col-span-3">
                                    <form action="#" method="POST">
                                        <div class="shadow overflow-hidden sm:rounded-md">
                                            <div class="px-4 py-5 bg-white sm:p-6">
                                                <div class="grid grid-cols-6 gap-6">
                                                    <div class="col-span-6 sm:col-span-3">
                                                        <label for="tipo_registro" class="block text-sm font-medium text-gray-700">Tipo de Emprendimiento</label>
                                                        <select id="tipo_registro" name="tipo_registro" autocomplete="tipo_registro" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                                            <option>Ingreso</option>
                                                            <option>Gasto</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-span-6 sm:col-span-3">
                                                        <label for="tipo_registro" class="block text-sm font-medium text-gray-700">Tipo de producto</label>
                                                        <select id="tipo_registro" name="tipo_registro" autocomplete="tipo_registro" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                                            <option>Ingreso</option>
                                                            <option>Gasto</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-span-6 sm:col-span-3">
                                                        <label for="cantidad" class="block text-sm font-medium text-gray-700">Cantidad</label>
                                                        <input type="text" name="cantidad" id="cantidad" autocomplete="cantidad" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                                    </div>

                                                    <div class="col-span-6">
                                                        <label for="comentario" class="block text-sm font-medium text-gray-700">Comentario</label>
                                                        <textarea id="comentario" name="comentario" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                                                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- End Form -->
                    </div>
                </div>
                <!-- /End replace -->
            </div>
        </main>
    </div>
</body>

</div>
</div>
