<app-header></app-header>
<app-tabbar></app-tabbar>
<div class="md:flex">
    <ul 
        class="  flex-column space-y space-y-4 w-60 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
        <li>
            <a [routerLink]="['/herramienta/datos/registrar']"
                routerLinkActive="text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500"
                class="inline-flex items-center justify-center p-4 border-transparent rounded-t-lg group">
                Registrar el Estado Negocio
            </a>

            <a [routerLink]="['/herramienta/datos/estado']"
                routerLinkActive="text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500"
                class="inline-flex items-center justify-center p-4 border-transparent rounded-t-lg group">
                Administrar el Estado Negocio
            </a>

            <a [routerLink]="['/herramienta/datos/inventario']"
                routerLinkActive="text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500"
                class="inline-flex items-center justify-center p-4 border-transparent rounded-t-lg group">
                Registar el Inventario de tu Negocio
            </a>
        </li>
    </ul>
    <div class="p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">

        <body class="bg-gray-100 overflow-x-auto ">
            <div class="min-h-screen bg-gray-50" id="INICIO">
                <header class="bg-white shadow ">
                    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                        <h1 class="text-3xl font-bold text-gray-900">Registro de Datos</h1>
                    </div>
                </header>

                <main>
                    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                        <div class=" px-4 py-6 sm:px-0">
                            <div class="  border-4 border-dashed border-gray-200 rounded-lg ">
                                <!-- Content goes here -->
                                
                                <!-- Form -->
                                <div class="w-full mt-10 sm:mt-0 overflow-x-auto" >
                                    <div class="md:grid md:grid-cols-3 md:gap-6">
                                        <div class="mt-5 md:mt-0 md:col-span-3">
                                            <form (ngSubmit)="onSubmit(f)" #f="ngForm" method="POST">
                                                <div class="shadow overflow-hidden sm:rounded-md">
                                                    <div class="px-4 py-5 bg-white sm:p-6">
                                                        <div class="grid grid-cols-6 gap-6">
                                                            <!-- Input para el nombre del emprendimiento -->
                                                            <div class="col-span-6 sm:col-span-3">
                                                                <label for="nombre-emprendimiento"
                                                                    class="block text-sm font-medium text-gray-700">Nombre
                                                                    del Emprendimiento</label>
                                                                <input type="text" id="nombre-emprendimiento"
                                                                    [(ngModel)]="emprendimiento.nombre" name="nombre"
                                                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                                                    disabled />
                                                            </div>

                                                            <!-- Input para el tipo de emprendimiento -->
                                                            <div class="col-span-6 sm:col-span-3">
                                                                <label for="tipo-emprendimiento"
                                                                    class="block text-sm font-medium text-gray-700">Tipo
                                                                    de Emprendimiento</label>
                                                                <input type="text" id="tipo-emprendimiento" [(ngModel)]="
                                    emprendimiento.tipoEmprendimiento
                                  " name="tipoEmprendimiento" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                                                    disabled />
                                                            </div>
                                                            <div *ngIf="
                                  emprendimiento.tipoEmprendimiento ===
                                  'servicio'
                                " class="col-span-6 sm:col-span-3">
                                                                <label for="clase_registro_servicio"
                                                                    class="block text-sm font-medium text-gray-700">Clase
                                                                    de Emprendimiento</label>
                                                                <select id="clase_registro_servicio"
                                                                    name="clase_registro_servicio" [(ngModel)]="
                                    datosInventario.claseEmprendimiento
                                  " autocomplete="clase_registro_servicio"
                                                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                                                    <option>Servicios de Diseño Gráfico</option>
                                                                    <option>
                                                                        Consultoría de Marketing Digital
                                                                    </option>
                                                                    <option>Desarrollo y Diseño Web</option>
                                                                    <option>
                                                                        Servicios de Fotografía Profesional
                                                                    </option>
                                                                    <option>
                                                                        Coaching Personal o de Negocios
                                                                    </option>
                                                                    <option>
                                                                        Servicios de Contabilidad y Finanzas
                                                                    </option>
                                                                    <option>Clases y Talleres Online</option>
                                                                    <option>
                                                                        Servicios de Catering y Eventos
                                                                    </option>
                                                                    <option>
                                                                        Reparación y Mantenimiento de Tecnología
                                                                    </option>
                                                                    <option>
                                                                        Servicios de Belleza y Estética
                                                                    </option>
                                                                    <option>
                                                                        Clases de Fitness y Entrenamiento Personal
                                                                    </option>
                                                                    <option>Asesoría Jurídica</option>
                                                                    <option>
                                                                        Servicios de Limpieza y Mantenimiento del
                                                                        Hogar
                                                                    </option>
                                                                    <option>Otro</option>
                                                                </select>
                                                            </div>
                                                            <div *ngIf="emprendimiento.tipoEmprendimiento ==='negocio'">
                                                                <label for="clase_registro_negocio"
                                                                    class="block text-sm font-medium text-gray-700">Clase
                                                                    de Emprendimiento</label>
                                                                <select (change)="
                                    actualizarOpcionesDeProductos($event)
                                  " id="clase_registro_negocio" name="clase_registro_negocio" [(ngModel)]="
                                    datosInventario.claseEmprendimiento
                                  " autocomplete="clase_registro_negocio"
                                                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                                                    <option value="" disabled selected hidden>
                                                                        Seleccione un tipo
                                                                    </option>
                                                                    <option>Tienda de Ropa</option>
                                                                    <option>Joyería Artesanal</option>
                                                                    <option>
                                                                        Productos de Belleza y Cuidado Personal
                                                                    </option>
                                                                    <option>Decoración para el Hogar</option>
                                                                    <option>Alimentos Artesanales</option>
                                                                    <option>
                                                                        Tienda de Tecnología y Accesorios
                                                                        Electrónicos
                                                                    </option>
                                                                    <option>
                                                                        Publicación de Libros y Revistas
                                                                    </option>
                                                                    <option>
                                                                        Servicios de Diseño y Desarrollo Web
                                                                    </option>
                                                                    <option>Arte y Manualidades</option>
                                                                    <option>
                                                                        Productos Ecológicos y Sostenibles
                                                                    </option>
                                                                    <option>
                                                                        Tienda de Juguetes y Productos para Niños
                                                                    </option>
                                                                    <option>Productos de Fitness y Salud</option>
                                                                    <option>
                                                                        Plataforma de Cursos y Talleres Online
                                                                    </option>
                                                                    <option>Otro</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-span-6 sm:col-span-3">
                                                                <label for="tipo_producto"
                                                                       class="block text-sm font-medium text-gray-700">Tipo de producto</label>
                                                                <select [(ngModel)]="datosInventario.tipoProducto" name="tipo_producto"
                                                                        required
                                                                        #tipoProducto="ngModel"
                                                                        id="tipo_producto"
                                                                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                                                  <option value="" disabled hidden>
                                                                    Seleccione un tipo de producto
                                                                  </option>
                                                                  <option *ngFor="let opcion of opcionesActualesDeProductos" [value]="opcion">
                                                                    {{ opcion }}
                                                                  </option>
                                                                </select>
                                                                <div *ngIf="tipoProducto.invalid && tipoProducto.touched" class="text-red-500 text-xs mt-1">
                                                                  Este campo es requerido.
                                                                </div>
                                                              </div>

                                                            <div class="col-span-6 sm:col-span-3">
                                                                <label for="cantidad"
                                                                    class="block text-sm font-medium text-gray-700">Cantidad</label>
                                                                <input type="number" name="cantidad"
                                                                    [(ngModel)]="datosInventario.cantidad" id="cantidad"
                                                                    autocomplete="cantidad"
                                                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                                                            </div>
                                                            <div class="col-span-6 sm:col-span-3">
                                                                <label for="cantidad"
                                                                    class="block text-sm font-medium text-gray-700">Precio</label>
                                                                <input type="number" name="precio"
                                                                    [(ngModel)]="datosInventario.precio" id="precio"
                                                                    autocomplete="precio"
                                                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                                                            </div>

                                                            <div class="col-span-6">
                                                                <label for="comentario"
                                                                    class="block text-sm font-medium text-gray-700">Comentario</label>
                                                                <textarea id="comentario" name="comentario"
                                                                    [(ngModel)]="datosInventario.comentario" rows="3"
                                                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex flex-column justify-between px-4 py-3 bg-gray-50 text-right sm:px-6">
                                                        <!-- Dropdown menu -->
                                                        <button id="dropdownDefault" data-dropdown-toggle="dropdown"
                                                        class="text-white bg-azul-marino hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center"
                                                        type="button">
                                                        Filtre por Producto
                                                        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                                        </svg>
                                                        </button>

                                                        <!-- Dropdown menu -->
                                                        <div id="dropdown" class="z-10 hidden w-56 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
                                                            <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">
                                                                Category
                                                              </h6>
                                                              <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
                                                                <li *ngFor="let category of opcionesActualesDeProductos" class="flex items-center">
                                                                  <input type="checkbox" [id]="category" (change)="filtrarPorCategoria(category)"
                                                                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                                  <label [for]="category" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                                                                    {{ category }}
                                                                  </label>
                                                                </li>
                                                              </ul>
                                                        </div>

                                                          
                                                        <button  type="submit" [disabled]="!f.valid"
                                                            class="h-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                            Guardar Datos
                                                        </button>
                                                    </div>
                                                    
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Form -->
                                <!-- Table -->
                                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                            <tr>
                                                <th scope="col" class="p-4">
                                                    id
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Clase de Emprendimiento
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Tipo de Producto
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Cantidad
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Precio
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Comentario
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Acción
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Comienza la repetición de filas aquí -->
                                            <tr *ngFor="let item of datosInventarioApiPaginados; let i = index" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                <td class="w-4 p-4">
                                                    {{ item.id }}
                                                </td>
                                                <th scope="row" title="{{ item.claseEmprendimiento }}" class=" truncate px-6 py-4 font-medium text-gray-900 dark:text-white">
                                                    {{ item.claseEmprendimiento }}
                                                </th>
                                                <td class="px-6 py-4">
                                                    {{ item.tipoProducto }}
                                                </td>
                                                <td class="px-6 py-4">
                                                    {{ item.cantidad }}
                                                </td>
                                                <td class="px-6 py-4">
                                                    {{ item.precio }}
                                                </td>
                                                <td class="truncate px-6 py-4" title="{{ item.comentario }}">
                                                    {{ item.comentario }}
                                                </td>
                                                <td class="px-6 py-4 flex flex-col justify-between">
                                                    <button (click)="editItem(item,'INICIO')" class="flex font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</button>
                                                    <button (click)="deleteItem(item.id)" class="flex font-medium text-red-600 dark:text-red-500 hover:underline">Eliminar</button>
                                                </td>
                                            </tr>
                                            <!-- Finaliza la repetición de filas -->
                                        </tbody>
                                    </table>
                                    <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
                                        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                                            Mostrando
                                            <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
                                        </span>
                                        <ul class="inline-flex items-stretch -space-x-px">
                                            <li>
                                                <a (click)="paginaAnterior()" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                                    <span class="sr-only">Anterior</span>
                                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                                    </svg>
                                                </a>
                                                  <li *ngFor="let num of getArrayFromNumber(totalPaginas()); let i = index">
                                                    <a href="javascript:void(0)" 
                                                       class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                                       [class.text-primary-600]="paginaActual === i + 1"
                                                       [class.bg-primary-50]="paginaActual === i + 1"
                                                       (click)="cambiarPagina(i + 1)">
                                                      {{ i + 1 }}
                                                    </a>
                                                  </li>
                                                 <li>
                                                <a (click)="paginaSiguiente()" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                                    <span class="sr-only">Siguiente</span>
                                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- Aquí va la paginación, si es necesaria -->
                                </div>

                                
                                <!-- End Table -->
                            </div>
                        </div>
                        <!-- /End replace -->
                    </div>
                </main>
            </div>
        </body>
    </div>
</div>